on:
  push:
    branches:
      - main
  pull_request:

name: Rust

jobs:
  tests-stable:
    name: Tests (Stable)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Install toolchain
        uses: dtolnay/rust-toolchain@stable

      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true

      - name: Clone foundry
        uses: actions/checkout@v3
        with:
          repository: Sunscreen-tech/foundry
          path: foundry

      - name: Get foundry hash
        id: foundry-hash
        working-directory: foundry
        run: |
          echo "hash=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT
        shell: bash

      - name: Cache - restore foundry binaries
        id: cache
        uses: actions/cache/restore@v3
        with:
          path: |
            ~/.cargo/bin/anvil
            ~/.cargo/bin/forge
          key: ${{ runner.os }}-${{ steps.foundry-hash.outputs.hash }}-foundry

      - name: Install foundry binaries
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          cargo install --path ./foundry/crates/anvil --profile local --force --locked
          cargo install --path ./foundry/crates/forge --profile local --force --locked

      - name: Cache - save foundry binaries
        uses: actions/cache/save@v3
        if: always()
        with:
          path: |
            ~/.cargo/bin/anvil
            ~/.cargo/bin/forge
          key: ${{ runner.os }}-${{ steps.foundry-hash.outputs.hash }}-foundry

      - name: cargo test
        run: cargo test --workspace --all-features

  clippy:
    name: clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: clippy
      - uses: Swatinem/rust-cache@v2
      - name: clippy
        run: cargo clippy --workspace --tests --all-features
        env:
          RUSTFLAGS: "-D warnings"

  docs:
    name: docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: rust-docs
      - uses: Swatinem/rust-cache@v2
      - name: doc
        run: cargo doc --workspace --all-features --no-deps --document-private-items
        env:
          RUSTDOCFLAGS: "-D warnings"

  fmt:
    name: fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt
      - name: fmt --check
        run: cargo fmt --all --check
